In [1]:
import pandas as pd
import numpy as np
data=pd.read_csv("traindataset.csv")
data

,GENDER,AGE,WBC,Platelets,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,CRP,AST,ALT,ALP,GGT,LDH,Class
0,F,70,4.9,145.0,4.0,0.7,0.3,0.0,0.0,87.9,68.0,41.0,89.0,63.0,606.0,1
1,M,61,11.3,166.0,10.7,0.5,0.1,0.0,0.0,174.3,118.0,95.0,59.0,77.0,808.0,1
2,F,70,15.8,202.0,13.9,1,0.8,0.0,0.0,43.8,20.0,26.0,80.0,16.0,235.0,0
3,M,85,10.6,227.0,NaN,NaN,NaN,NaN,NaN,6.3,31.0,16.0,NaN,NaN,NaN,0
4,F,89,4.5,170.0,3.8,0.5,0.2,0.0,0.0,133.6,57.0,17.0,81.0,19.0,626.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,M,57,6.8,172.0,6.2,0.3,0.3,0.1,0.0,27.6,83.0,137.0,92.0,NaN,455.0,1
219,F,72,10.1,245.0,NaN,NaN,NaN,NaN,NaN,49.6,28.0,22.0,NaN,NaN,328.0,0
220,F,79,6.4,170.0,5.0,0.6,0.7,0.0,0.0,2.0,70.0,45.0,NaN,NaN,NaN,0
221,M,80,11.0,285.0,9.3,0.6,1.1,0.0,0.0,135.1,34.0,20.0,NaN,NaN,369.0,1
222,F,57,10.7,176.0,9.1,1.1,0.4,0.0,0.0,129.6,57.0,35.0,NaN,NaN,601.0,1

In [2]:
data.shape

(223, 16)

In [3]:
data.describe()

,AGE,WBC,Platelets,Neutrophils,Monocytes,Eosinophils,Basophils,CRP,AST,ALT,ALP,GGT,LDH,Class
count,223.000000,221.000000,221.000000,165.000000,165.000000,165.000000,164.000000,219.000000,222.000000,215.000000,106.000000,112.000000,157.000000,223.000000
mean,61.573991,8.556109,226.060633,6.123636,0.598182,0.053333,0.014634,89.400000,52.247748,45.413953,95.018868,83.107143,373.777070,0.641256
std,18.382391,4.753326,106.291297,4.067418,0.404619,0.137279,0.040312,92.509815,52.209349,44.582705,97.872705,135.513661,191.488388,0.480711
min,0.000000,1.100000,20.000000,0.500000,0.000000,0.000000,0.000000,0.100000,11.000000,10.000000,34.000000,10.000000,98.000000,0.000000
25%,49.000000,5.100000,157.000000,3.500000,0.300000,0.000000,0.000000,21.800000,27.000000,22.000000,58.250000,25.000000,241.000000,0.000000
50%,64.000000,7.300000,199.000000,5.100000,0.500000,0.000000,0.000000,53.100000,36.000000,32.000000,73.000000,43.000000,321.000000,1.000000
75%,76.000000,10.800000,272.000000,7.600000,0.800000,0.100000,0.000000,129.950000,59.750000,47.000000,96.250000,84.000000,444.000000,1.000000
max,98.000000,29.200000,620.000000,24.300000,3.200000,1.300000,0.300000,425.000000,550.000000,275.000000,838.000000,839.000000,1183.000000,1.000000

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 223 entries, 0 to 222
Data columns (total 16 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   GENDER       223 non-null    object
 1   AGE          223 non-null    int64
 2   WBC          221 non-null    float64
 3   Platelets    221 non-null    float64
 4   Neutrophils  165 non-null    float64
 5   Lymphocytes  165 non-null    object
 6   Monocytes    165 non-null    float64
 7   Eosinophils  165 non-null    float64
 8   Basophils    164 non-null    float64
 9   CRP          219 non-null    float64
 10  AST          222 non-null    float64
 11  ALT          215 non-null    float64
 12  ALP          106 non-null    float64
 13  GGT          112 non-null    float64
 14  LDH          157 non-null    float64
 15  Class        223 non-null    int64
dtypes: float64(12), int64(2), object(2)
memory usage: 28.0+ KB

In [5]:
data.isnull().sum()

GENDER           0
AGE              0
WBC              2
Platelets        2
Neutrophils     58
Lymphocytes     58
Monocytes       58
Eosinophils     58
Basophils       59
CRP              4
AST              1
ALT              8
ALP            117
GGT            111
LDH             66
Class            0
dtype: int64

In [6]:
data['Lymphocytes']= pd.to_numeric(data['Lymphocytes'], errors='coerce')

data

,GENDER,AGE,WBC,Platelets,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,CRP,AST,ALT,ALP,GGT,LDH,Class
0,F,70,4.9,145.0,4.0,0.7,0.3,0.0,0.0,87.9,68.0,41.0,89.0,63.0,606.0,1
1,M,61,11.3,166.0,10.7,0.5,0.1,0.0,0.0,174.3,118.0,95.0,59.0,77.0,808.0,1
2,F,70,15.8,202.0,13.9,1.0,0.8,0.0,0.0,43.8,20.0,26.0,80.0,16.0,235.0,0
3,M,85,10.6,227.0,NaN,NaN,NaN,NaN,NaN,6.3,31.0,16.0,NaN,NaN,NaN,0
4,F,89,4.5,170.0,3.8,0.5,0.2,0.0,0.0,133.6,57.0,17.0,81.0,19.0,626.0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,M,57,6.8,172.0,6.2,0.3,0.3,0.1,0.0,27.6,83.0,137.0,92.0,NaN,455.0,1
219,F,72,10.1,245.0,NaN,NaN,NaN,NaN,NaN,49.6,28.0,22.0,NaN,NaN,328.0,0
220,F,79,6.4,170.0,5.0,0.6,0.7,0.0,0.0,2.0,70.0,45.0,NaN,NaN,NaN,0
221,M,80,11.0,285.0,9.3,0.6,1.1,0.0,0.0,135.1,34.0,20.0,NaN,NaN,369.0,1
222,F,57,10.7,176.0,9.1,1.1,0.4,0.0,0.0,129.6,57.0,35.0,NaN,NaN,601.0,1

In [7]:
data['Neutrophils']=data['Neutrophils'].fillna(data['Neutrophils'].mean())
data['Lymphocytes']=data['Lymphocytes'].fillna(data['Lymphocytes'].mean())
data["Monocytes"] = data["Monocytes"].replace(np.NaN, data["Monocytes"].mean())
data['Eosinophils']=data['Eosinophils'].fillna(data['Eosinophils'].mean())
data['Basophils']=data['Basophils'].fillna(data['Basophils'].mean())
data['CRP']=data['CRP'].fillna(data['CRP'].mean())
data['WBC']=data['WBC'].fillna(data['WBC'].mean())
data['Platelets']=data['Platelets'].fillna(data['Platelets'].mean())
data['AST']=data['AST'].fillna(data['AST'].mean())
data['ALT']=data['ALT'].fillna(data['ALT'].mean())
data['ALP']=data['ALP'].fillna(data['ALP'].mean())
data['GGT']=data['GGT'].fillna(data['GGT'].mean())
data['LDH']=data['LDH'].fillna(data['LDH'].mean())

data

,GENDER,AGE,WBC,Platelets,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,CRP,AST,ALT,ALP,GGT,LDH,Class
0,F,70,4.9,145.0,4.000000,0.700000,0.300000,0.000000,0.000000,87.9,68.0,41.0,89.000000,63.000000,606.00000,1
1,M,61,11.3,166.0,10.700000,0.500000,0.100000,0.000000,0.000000,174.3,118.0,95.0,59.000000,77.000000,808.00000,1
2,F,70,15.8,202.0,13.900000,1.000000,0.800000,0.000000,0.000000,43.8,20.0,26.0,80.000000,16.000000,235.00000,0
3,M,85,10.6,227.0,6.123636,1.213415,0.598182,0.053333,0.014634,6.3,31.0,16.0,95.018868,83.107143,373.77707,0
4,F,89,4.5,170.0,3.800000,0.500000,0.200000,0.000000,0.000000,133.6,57.0,17.0,81.000000,19.000000,626.00000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,M,57,6.8,172.0,6.200000,0.300000,0.300000,0.100000,0.000000,27.6,83.0,137.0,92.000000,83.107143,455.00000,1
219,F,72,10.1,245.0,6.123636,1.213415,0.598182,0.053333,0.014634,49.6,28.0,22.0,95.018868,83.107143,328.00000,0
220,F,79,6.4,170.0,5.000000,0.600000,0.700000,0.000000,0.000000,2.0,70.0,45.0,95.018868,83.107143,373.77707,0
221,M,80,11.0,285.0,9.300000,0.600000,1.100000,0.000000,0.000000,135.1,34.0,20.0,95.018868,83.107143,369.00000,1
222,F,57,10.7,176.0,9.100000,1.100000,0.400000,0.000000,0.000000,129.6,57.0,35.0,95.018868,83.107143,601.00000,1

In [8]:
data.isnull().sum()

GENDER         0
AGE            0
WBC            0
Platelets      0
Neutrophils    0
Lymphocytes    0
Monocytes      0
Eosinophils    0
Basophils      0
CRP            0
AST            0
ALT            0
ALP            0
GGT            0
LDH            0
Class          0
dtype: int64

In [9]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder()
data['GENDER']=label_encoder.fit_transform(data['GENDER'])
data

,GENDER,AGE,WBC,Platelets,Neutrophils,Lymphocytes,Monocytes,Eosinophils,Basophils,CRP,AST,ALT,ALP,GGT,LDH,Class
0,0,70,4.9,145.0,4.000000,0.700000,0.300000,0.000000,0.000000,87.9,68.0,41.0,89.000000,63.000000,606.00000,1
1,1,61,11.3,166.0,10.700000,0.500000,0.100000,0.000000,0.000000,174.3,118.0,95.0,59.000000,77.000000,808.00000,1
2,0,70,15.8,202.0,13.900000,1.000000,0.800000,0.000000,0.000000,43.8,20.0,26.0,80.000000,16.000000,235.00000,0
3,1,85,10.6,227.0,6.123636,1.213415,0.598182,0.053333,0.014634,6.3,31.0,16.0,95.018868,83.107143,373.77707,0
4,0,89,4.5,170.0,3.800000,0.500000,0.200000,0.000000,0.000000,133.6,57.0,17.0,81.000000,19.000000,626.00000,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
218,1,57,6.8,172.0,6.200000,0.300000,0.300000,0.100000,0.000000,27.6,83.0,137.0,92.000000,83.107143,455.00000,1
219,0,72,10.1,245.0,6.123636,1.213415,0.598182,0.053333,0.014634,49.6,28.0,22.0,95.018868,83.107143,328.00000,0
220,0,79,6.4,170.0,5.000000,0.600000,0.700000,0.000000,0.000000,2.0,70.0,45.0,95.018868,83.107143,373.77707,0
221,1,80,11.0,285.0,9.300000,0.600000,1.100000,0.000000,0.000000,135.1,34.0,20.0,95.018868,83.107143,369.00000,1
222,0,57,10.7,176.0,9.100000,1.100000,0.400000,0.000000,0.000000,129.6,57.0,35.0,95.018868,83.107143,601.00000,1

In [10]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

In [11]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [12]:
X = data.drop(columns=['Class'])
Y = data['Class']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=50)

model=RandomForestClassifier()
model.fit(X_train,Y_train)
prediction=model.predict(X_test)
score=accuracy_score(Y_test,prediction)
score

0.8529411764705882

In [13]:
X = data.drop(columns=['Class'])
Y = data['Class']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.2,random_state=45)

model= LogisticRegression()
model.fit(X_train,Y_train)
prediction=model.predict(X_test)

score=accuracy_score(Y_test,prediction)
score

C:\Users\maruthi\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.8666666666666667

In [14]:
X = data.drop(columns=['Class'])
Y = data['Class']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=50)

model=LinearDiscriminantAnalysis()
model.fit(X_train,Y_train)
prediction=model.predict(X_test)

score=accuracy_score(Y_test,prediction)
score

0.8235294117647058

In [15]:
X = data.drop(columns=['Class'])
Y = data['Class']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=50)

model=KNeighborsClassifier()
model.fit(X_train,Y_train)
prediction=model.predict(X_test)

score=accuracy_score(Y_test,prediction)
score

0.8235294117647058

In [16]:
X = data.drop(columns=['Class'])
Y = data['Class']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=59)

model=GaussianNB()
model.fit(X_train,Y_train)
prediction=model.predict(X_test)

score=accuracy_score(Y_test,prediction)
score

0.8235294117647058

In [17]:
X = data.drop(columns=['Class'])
Y = data['Class']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=60)

model=SVC()
model.fit(X_train,Y_train)
prediction=model.predict(X_test)

score=accuracy_score(Y_test,prediction)
score

0.7941176470588235

In [18]:
X = data.drop(columns=['Class'])
Y = data['Class']

X_train,X_test,Y_train,Y_test=train_test_split(X,Y,test_size=0.15,random_state=45)

model=DecisionTreeClassifier()
model.fit(X_train,Y_train)
prediction=model.predict(X_test)

score=accuracy_score(Y_test,prediction)
score

0.8529411764705882

In [19]:
from sklearn.metrics import matthews_corrcoef
matthews_corrcoef(Y_test, prediction)

0.6988334233460395

In [20]:
import pickle

model

DecisionTreeClassifier()

In [21]:
pickle.dump(model, open("model.pkl", "wb"))

In [22]:
loaded_model=pickle.load(open("model.pkl", "rb"))

In [23]:
loaded_model.predict(X_test)

array([1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1], dtype=int64)

In [24]:
model.predict(X_test)

array([1, 1, 0, 0, 1, 1, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1,
       1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 1, 1], dtype=int64)